.scores{
    background-color: aliceblue;
    width: 650px;
    margin: 0 auto;
    margin-top: 45px;
    padding-bottom: 20px;
    border-radius: 25px;
}
.scoresH2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 34px;
}
.scoresTable{
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.scoresTable > thead > tr > th {
    font-size: 30px;
    width: 200px;
    padding-bottom: 5px;
}
.scoresTable > tbody > tr > td {
    font-size: 26px;
    width: 200px;
}
.homeButton{
    display: block;
    width: 200px;
    font-size: 30px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 30px;
}