.registerForm {
    display: grid;
    grid-template-areas: 
    "header header"
    "userLabel username"
    "emailLabel email"
    "passLabel password"
    "confirmLabel passwordConfirm"
    "signUp signUp"
    "haveAccount haveAccount";
    grid-template-rows: 50px 50px 50px 50px 70px ;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    grid-area: form;
    height: 400px;
    background-color: rgb(143, 54, 226);
    border: 3px solid black;
    outline: 5px solid rgb(124, 22, 219);
    padding: 20px;
    border-radius: 15px;
}

.registerHeader{
    grid-area: header;
    text-align: center;
    margin: 10px;
    font-size: 32px;
}
.signUsernameLabel {
    grid-area: userLabel;
    font-size: 24px;
    width: 70px;
}
.signUsername {
    grid-area: username;
    font-size: 20px;
    height: 34px;
    border-radius: 15px;
    padding: 10px;
    outline: none;
}
.signEmailLabel {
    grid-area: emailLabel;
    font-size: 24px;
}
.signEmail {
    grid-area: email;
    font-size: 20px;
    height: 34px;
    border-radius: 15px;
    padding: 10px;
    outline: none;
}
.signPasswordLabel {
    grid-area: passLabel;
    font-size: 24px;
}
.signPassword {
    grid-area: password;
    font-size: 20px;
    height: 34px;
    border-radius: 15px;
    padding: 10px;
    outline: none;
}
.confirmPasswordLabel {
    grid-area: confirmLabel;
    font-size: 24px;
}
.confirmPasswordInput {
    grid-area: passwordConfirm;
    font-size: 20px;
    height: 34px;
    border-radius: 15px;
    padding: 10px;
    outline: none;
}
.signUp {
    grid-area: signUp;
    font-size: 24px;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 10px;
}
.haveAccount{
    grid-area: haveAccount;
    font-size: 24px;
    width: 300px;
    height: 40px;
    margin: 0 auto;
    border-radius: 15px;
}
@media (min-width: 480px) {
    
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) {

}