.login{
    display: grid;
    grid-template-areas:
    "logo intro"
    "logo form";
    height: 100vh;
}

.loginBrainDiv{
    width: 500px;
    object-fit: contain;
    z-index: -1;
    position: absolute;
    left: 150px;
    right: auto;
    top: 20%;
}

.loginBrain{
    width: 100%;
}

.loginDumbfounded{
    width: 600px;
    margin-left: 100px;
    margin-top: 375px;
    height: 125px;
    line-height: 125px;
    font-size: 52px;
    text-align: center;
    background-color:#BBB3EB;
    border: 3px solid black;
    outline: 5px solid #725EED;
    border-radius: 25px;
    grid-area: logo;
}