.CAModal {
    background-color: #4CE0B3;
    border: 3px solid black;
    outline: 5px solid #377771;
    width: 300px;
    height: 200px;
    padding: 5px;
    position: absolute;
    top: 275px;
    margin-left: auto;
    margin-right: auto;
    left: 0; 
    right: 0; 
    visibility: visible;
    font-size: 22px;
    border-radius: 25px;
    text-align: center;
    border: 3px solid black;
}
.CAModal > h2 {
    margin-top: 70px;
}
@media (min-width: 480px) {
    
}

@media (min-width: 768px) {
    .CAModal {
        top: 225px;
    }
}

@media (min-width: 1024px) {
    .CAModal {
        width: 600px;
        height: 225px;
        top: 225px;
        font-size: 38px;
    }
}

@media (min-width: 1200px) {

}