.register{
    display: grid;
    grid-template-areas:
    "logo"
    "intro"
    "form";
    height: 100vh;
    grid-template-rows: 260px 150px auto;
    width: 360px;
    margin: 0 auto;
    align-items: center;
    gap: 0px;
    padding: 0px;
}


@media (min-width: 480px) {
    .register {
        width: 480px;
        grid-template-rows: 300px 160px auto;
    }
}

@media (min-width: 768px) {
    
    .register {
        width: 768px;
        grid-template-rows: 350px 200px auto;
    }
}

@media (min-width: 1024px) {
    .register{
        display: grid;
        grid-template-areas:
        "logo intro"
        "logo form";
        width: 1024px;
        height: 100vh;
        grid-template-rows: auto;
    }
}

@media (min-width: 1200px) {
    .register{
        display: grid;
        grid-template-areas:
        "logo intro"
        "logo form";
        height: 100vh;
    }
}