.quizSection {
    background-color: rgb(0, 153, 255);
    border: 3px solid black;
    outline: 5px solid rgb(0, 129, 214);
    width: 300px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 25px;
    position: relative;
}

.modalSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.questionSection{
    /* background-color: white; */
    font-size: 28px;
}
.questionCount{
    margin-bottom: 15px;
}
.questionNumber{
    font-size: 18px;
    margin-top: 20px;
}
.questionText {
    text-align: left;
    font-size: 18px;
}

.answerSection{
    /* background-color: rgb(162, 116, 116); */
    display: grid;
    grid-template-areas: 
    "answer1 answer2"
    "answer3 answer4";
    justify-items: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
}
.answerButton{
    font-size: 20px;
    padding: 5px;
    width: 125px;
    margin-top: 10px;
    min-height: 80px;
    border-radius: 25px;
    background-color: rgb(184, 233, 239);
    border: 3px solid black;
    outline: none;
    border: 2px solid black;
}
@media (min-width: 480px) {
    
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .quizSection {
        background-color: rgb(0, 153, 255);
        border: 3px solid black;
        outline: 5px solid rgb(0, 129, 214);
        width: 800px;
        height: 500px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 40px;
        border-radius: 25px;
        position: relative;
    }
    
    .modalSection {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    .questionSection{
        /* background-color: white; */
        font-size: 28px;
    }
    .questionCount{
        margin-bottom: 15px;
    }
    .questionNumber{
        font-size: 24px;
        margin-top: 20px;
    }
    .questionText {
        text-align: center;
    
    }
    
    .answerSection{
        /* background-color: rgb(162, 116, 116); */
        display: grid;
        grid-template-areas: 
        "answer1 answer2"
        "answer3 answer4";
        justify-items: center;
        gap: 20px;
        position: absolute;
        bottom: 20px;
    }
    .answerButton{
        font-size: 24px;
        padding: 5px;
        width: 350px;
        margin-top: 20px;
        min-height: 80px;
        border-radius: 25px;
        background-color: rgb(184, 233, 239);
        border: 3px solid black;
        /* outline: 5px solid rgb(0, 129, 214); */
        outline: none;
        border: 2px solid black;
    }
}

@media (min-width: 1200px) {
    
}