.quizH1 {
    width: 250px;
    font-size: 40px;
    padding: 10px;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    background-color:#917eff;
    border: 3px solid black;
    outline: 5px solid #725EED;
}

.playerTurnInfo{
    font-size: 22px;
    margin-bottom: 5px;
}

.loadingH2{
    position: absolute;
    width: 250px;
    font-size: 52px;
    padding: 20px;
    border-radius: 25px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: 160px;
    margin-top: 60px;
    text-align: center;
    background-color:rgb(226, 168, 43);
    border: 3px solid black;
    outline: 5px solid rgb(230, 118, 53);
    z-index: -1;
}
@media (min-width: 480px) {
    
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .quizH1 {
        width: 250px;
        font-size: 52px;
        padding: 10px;
        border-radius: 25px;
        margin: 0 auto;
        margin-top: 60px;
        text-align: center;
        background-color:#917eff;
        border: 3px solid black;
        outline: 5px solid #725EED;
    }
    
    .playerTurnInfo{
        font-size: 36px;
        margin-bottom: 5px;
    }
    
    .loadingH2{
        position: absolute;
        width: 500px;
        font-size: 52px;
        padding: 20px;
        border-radius: 25px;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        top: 320px;
        margin-top: 60px;
        text-align: center;
        background-color:rgb(226, 168, 43);
        border: 3px solid black;
        outline: 5px solid rgb(230, 118, 53);
        z-index: -1;
    }
}

@media (min-width: 1200px) {
    
}