.hsModal {
    background-color: rgb(122, 165, 175);
    width: 250px;
    margin-left: auto;
    right: 30px;
    position: absolute;
}
.cross {
    text-align: right;
    margin-right: 10px;
    padding-top: 10px;
}
.hsTable{
    width: 100%;
}
.hsTableData{
    padding-left: 9px;
}