.hsArea{
    width: 375px;
    margin-left: auto;
    margin-right: 30px;
}

.highScores {
    background-color: rgb(122, 165, 175);
    width: 375px;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 45px;
    text-align: center;
    border-radius: 15px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}

.homeBrainDiv{
    width: 500px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
}

.homeBrain{
    width: 100%;
}

.dumbfounded{
    width: 600px;
    margin: 0 auto;
    margin-top: 325px;
    padding: 20px;
    font-size: 52px;
    text-align: center;
    background-color: rgb(133, 93, 170);
    border-radius: 25px;
}

.gameTypes {
    display: grid;
    grid-template-areas: 
    'area1 area2'
    'area3 area3';
    width: 500px;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
    padding-top: 50px;
}


.localGame {
    background-color: rgb(120, 92, 221);
    width: 200px;
    grid-area: area1;
    margin: 10px;
    border-radius: 15px;
    height: 65px;
    line-height: 65px;
}

.onlineGame {
    background-color: rgb(62, 121, 229);
    width: 200px;
    grid-area: area2;
    margin: 10px;
    border-radius: 15px;
    height: 65px;
    line-height: 65px;
}

.rankingGame{
    background-color: rgb(191, 121, 223);
    width: 225px;
    grid-area: area3;
    margin: 10px auto;
    border-radius: 15px;
    height: 65px;
    line-height: 65px;
}

