.socketGame{

    font-size: 22px;

    width: 400px;
    margin: 0 auto;

    margin-top: 300px;

    border-radius: 25px;

    padding: 20px;

    display: grid;
    
    grid-template-areas:
    "header"
    "createroom"
    "joinroom"
    "startgame"
    "people"; 

    background-color: rgb(141, 120, 218);
    border: 3px solid black;
    outline: 5px solid #4532BE;


}

.socketHeader{
    grid-area: header;
    text-align: center;
}

.createRoom{

    grid-area: createroom;
    margin-left: 50px;

    padding: 10px;

    
    
    
    
}

.createButton{
    width: 225px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 15px;
    margin-bottom: 10px;


    background-color: rgb(191, 121, 223);
    border: 3px solid black;
    outline: 5px solid rgb(196, 99, 209);
    

}

.joinRoom{

    grid-area: joinroom;
    margin: 0 auto;
    text-align: center;

    background-color: rgb(62, 121, 229);
    border: 3px solid black;
    outline: 5px solid rgb(50, 100, 195);

    border-radius: 25px;
    padding: 10px;
}

.roomForm {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.roomForm > input {
    border-radius: 25px;
    margin-right: 10px;

}

.roomForm > button {
    border-radius: 15px;
    margin-right: 10px;
    width: 70px;
    height: 30px;
    background-color: rgb(143, 199, 211);    

    
}


.startGame{
    grid-area: startgame;
    margin: 0 auto;
    margin-top: 10px;

}

.startGame > button {
    font-size: 20px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    background-color: #4CE0B3;

}

.peopleRoom{
    margin-top: 10px;

    grid-area: people;
    margin-left: 50px;

}
