.easy {
background-color: rgb(128, 255, 0);
}

.medium {
background-color: rgb(255, 170, 0);
}

.hard {
    background-color: red;
}

.buttonsNSelections{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    padding-left: 90px;
}

.confirmSelections{
    font-size: 24px;
    width: 175px;
    margin: 0 auto;
    /* margin-left: 100px; */
    background-color: rgb(62, 210, 148);
    border-radius: 15px;
    padding: 5px;
}

.selections {
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(133, 209, 209);
    height: 135px;
    border: 3px solid black;
}

.selections > p {
    font-weight: bold;
    padding-bottom: 5px;
}
.difficultyLi{
    margin-top: 3px;
}
#difficultySlide1 {
    z-index: 0;
    top: 100px;
}
#difficultySlide2 {
    
    z-index: 0;
    top: 160px;
    left: 220px;
}
#difficultySlide3 {
    
    z-index: 0;
    top: 100px;
    right: 0;
}

#difficultySlide1.right {
animation: difficultySlide1right 0.5s linear;
}
#difficultySlide2.right {
    animation: difficultySlide2right 0.5s linear;
}
#difficultySlide3.right {
    animation: difficultySlide3right 0.5s linear;
}

@keyframes difficultySlide1right {
    0%   {transform: translate(500px, 0px); z-index: -1}
    75%  {z-index: -1}
    100% {transform: translate(0%, 0)}
}

@keyframes difficultySlide2right {
    0%   {transform: translate(-220px, -60px)}
    100% {transform: translate(0%, 0%)}
}

@keyframes difficultySlide3right {
    0%   {transform: translate(-220px, 60px)}
    100% {transform: translate(0, 0)}
}

#difficultySlide1.left {
    animation: difficultySlide1left 0.5s linear;
}
#difficultySlide2.left {
    animation: difficultySlide2left 0.5s linear;
}
#difficultySlide3.left {
    animation: difficultySlide3left 0.5s linear;
}

@keyframes difficultySlide1left {
    0%   {transform: translate(220px, 60px)}
    100% {transform: translate(0%, 0)}
}

@keyframes difficultySlide2left {
    0%   {transform: translate(220px, -60px)}
    100% {transform: translate(0%, 0%)}
}

@keyframes difficultySlide3left {
    0%   {transform: translate(-500px, 0px); z-index: -1}
    75%  {z-index: -1}
    100% {transform: translate(0, 0)}
}
@media (min-width: 480px) {
    
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) {

}