.slider {
    /* background-color: aliceblue; */
    width: 600px;
    /* max-width: 800px; */
    height: 400px;
    position: relative;
    margin: 0 auto;
}
.sliderContainer {
    display: flex;
}
.btn {
    height: 50px;
}

.slide {
    background-color: red;
    width: 160px;
    position: absolute;
    height: 160px;
    text-align: center;
}

.selections {
    background-color: aliceblue;
    width: 300px;
}

.selections > ul {
    list-style-type: none;
}


#playerSlide1 {
    background-color: red;
    z-index: 0;
    top: 100px;
}
#playerSlide2 {
    background-color: rgb(255, 170, 0);
    z-index: 0;
    top: 160px;
    left: 220px;
}
#playerSlide3 {
    background-color: rgb(242, 255, 0);
    z-index: 0;
    top: 100px;
    right: 0;
}
#playerSlide4 {
    background-color: rgb(255, 0, 251);
    z-index: -1;
    left: 220px;
    top: 40px;
}

#playerSlide1.right {
animation: playerSlide1right 0.5s linear;
}
#playerSlide2.right {
    animation: playerSlide2right 0.5s linear;
}
#playerSlide3.right {
    animation: playerSlide3right 0.5s linear;
}
#playerSlide4.right {
    animation: playerSlide4right 0.5s linear;
}
@keyframes playerSlide1right {
    0%   {transform: translate(220px, -60px)}
    100% {transform: translate(0%, 0)}
}

@keyframes playerSlide2right {
    0%   {transform: translate(-220px, -60px)}
    100% {transform: translate(0%, 0%)}
}

@keyframes playerSlide3right {
    0%   {transform: translate(-220px, 60px)}
    100% {transform: translate(0, 0)}
}

@keyframes playerSlide4right {
    0%   {transform: translate(220px, 60px)}
    100% {transform: translate(0, 0)}
}
#playerSlide1.left {
    animation: playerSlide1left 0.5s linear;
}
#playerSlide2.left {
    animation: playerSlide2left 0.5s linear;
}
#playerSlide3.left {
    animation: playerSlide3left 0.5s linear;
}
#playerSlide4.left {
    animation: playerSlide4left 0.5s linear;
}




@keyframes playerSlide1left {
    0%   {transform: translate(220px, 60px)}
    100% {transform: translate(0%, 0)}
}

@keyframes playerSlide2left {
    0%   {transform: translate(220px, -60px)}
    100% {transform: translate(0%, 0%)}
}

@keyframes playerSlide3left {
    0%   {transform: translate(-220px, -60px)}
    100% {transform: translate(0, 0)}
}

@keyframes playerSlide4left {
    0%   {transform: translate(-220px, 60px)}
    100% {transform: translate(0, 0)}
}